{% extends "base.html.twig" %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="mt-3 mb-3 p-0 mx-auto">
    <h2 class="mb-3 text-center">Entrez votre adresse e-mail</h2>
    <p>Un mail contenant un nouveau mot de passe généré aléatoirement lui sera envoyé. </p>
    {{form_start(form, {'attr': {'class': 'col-md-6 m-auto'}})}}
        {{form_widget(form)}}
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        </div>
    {{form_end(form)}} 
    {{random}}
</div>

{% endblock %}