{% apply inline_css(source('@styles/bootstrap.min.css')) %}
<body class="bg-light text-center">
<h1 class="mt-5"><span class="font-weight-light">Cours</span><span class="font-weight-bold">Cyno</span></h1>
    <div class="container-md bg-white col-9 my-5 mx-auto py-5">
        <p class="h4 font-weight-light mb-3">Vous avez demandé un nouveau mot de passe</p>
        <hr class="w-25">
        <p>Votre nouveau mot de passe :</p>
        <p class="bg-dark text-light px-4 py-3 d-inline-flex ">{{random}}</p>
    </div>
</body>



{% endapply %}